@import "night/mermaid.dark.css";
@import "night/codeblock.dark.css";
@import "night/sourcemode.dark.css";

:root {
    --bg-color:  #363B40;
    --side-bar-bg-color: #2E3033;
    --text-color: #a6acb3;

    --select-text-bg-color:#4a89dc;

    --item-hover-bg-color: #0a0d16;
    --control-text-color: #b7b7b7;
    --control-text-hover-color: #eee;
    --window-border: 1px solid #555;

    --active-file-bg-color: rgb(34, 34, 34);
    --active-file-border-color: #8d8df0;

    --primary-color: #a3d5fe;

    --active-file-text-color: white;
    --item-hover-bg-color: #70717d;
    --item-hover-text-color: white;
    --primary-color: #6dc1e7;

    --rawblock-edit-panel-bd: #333;

    --search-select-bg-color: #428bca;

    /*--side-bar-bg-color: #fff;*/
    /*--control-text-color: #777;*/
    --active-file-border-color: var(--drake-accent);
    --drake-accent: #fccec0;
    --drake-highlight: #fc8d87;
}

html {
    font-size: 14px;
}

body {
    font-family: "SF Pro", sans-serif !important;
    color: inherit;
    -webkit-font-smoothing: auto;
    line-height: 1.6rem;
    letter-spacing: 0;
    margin: 0;
    overflow-x: hidden;
}

img {
    border-radius: 2px;
}

#write {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 30px 100px;
}

#write p {
    line-height: 1.6rem;
    word-spacing: .05rem;
}

#write > ul:first-child,
#write > ol:first-child {
    margin-top: 30px;
}

body > *:first-child {
    margin-top: 0 !important;
}

body > *:last-child {
    margin-bottom: 0 !important;
}

a {
    color: var(--drake-highlight);
    padding: 0 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
    color: #CFD7DE;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
    text-decoration: none;
}


h1 tt,
h1 code {
    font-size: inherit !important;
}

h2 tt,
h2 code {
    font-size: inherit !important;
}

h3 tt,
h3 code {
    font-size: inherit !important;
}

h4 tt,
h4 code {
    font-size: inherit !important;
}

h5 tt,
h5 code {
    font-size: inherit !important;
}

h6 tt,
h6 code {
    font-size: inherit !important;
}

h2 a,
h3 a {
    color: #34495e;
}

h1 {
    padding-bottom: .4rem;
    font-size: 2.2rem;
    text-align: center;
    margin-top: 0;
    line-height: 1.3;
}

h2 {
    font-size: 1.75rem;
    line-height: 1.225;
    padding-bottom: 10px;
    margin-bottom: 2rem;
    border-bottom: 1px solid #eaecef;
}

h3 {
    font-size: 1.4rem;
    line-height: 1.43;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 1rem;
    color: #777;
}

p,
blockquote,
ul,
ol,
dl,
table {
    margin: 0.8em 0;
}

li > ol,
li > ul {
    margin: 0 0;
}

hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

body > h2:first-child {
    margin-top: 0;
    padding-top: 0;
}

body > h1:first-child {
    margin-top: 0;
    padding-top: 0;
}

body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0;
}

body > h3:first-child,
body > h4:first-child,
body > h5:first-child,
body > h6:first-child {
    margin-top: 0;
    padding-top: 0;
}

a:first-child h1,
a:first-child h2,
a:first-child h3,
a:first-child h4,
a:first-child h5,
a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
}

h1 p,
h2 p,
h3 p,
h4 p,
h5 p,
h6 p {
    margin-top: 0;
}

li p.first {
    display: inline-block;
}

ul,
ol {
    padding-left: 30px;
}

ul:first-child,
ol:first-child {
    margin-top: 0;
}

ul:last-child,
ol:last-child {
    margin-bottom: 0;
}

blockquote {
    color: #D8E0E8;
    border-radius: 2px;
    padding: 10px 16px;
    background-color: #626569;
    position: relative;
    border-left: none;
}

/*quote block*/
blockquote:before {
    display: block;
    position: absolute;
    content: '';
    width: 4px;
    left: 0;
    top: 0;
    height: 100%;
    background-color:var(--drake-accent);
    border-radius: 2px;
}

#write strong {
    /* color: #ffffff; */
    display: inline-block;
    font-weight: normal;
    font-size: 1.0em;
    padding: 0 4px;
    font-weight: bold;
    /* background-color: #909090; */
    /* border-radius: 3em; */
}

table {
    padding: 0;
    word-break: initial;
}

table tr {
    border-top: 1px solid #dfe2e5;
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n),
thead {
    background-color: #242424;
}

table tr th {
    font-weight: bold;
    border: 1px solid #dfe2e5;
    border-bottom: 0;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

table tr td {
    border: 1px solid #dfe2e5;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

table tr th:first-child,
table tr td:first-child {
    margin-top: 0;
}

table tr th:last-child,
table tr td:last-child {
    margin-bottom: 0;
}

#write em {
    padding: 0 5px 0 2px;
}

#write table thead th {
    /* 表格背景色 */
    background-color: #242424;
}

#write .CodeMirror-gutters {
    border-right: none;
}

/*code block*/
#write .md-fences {
    font-size: 0.9rem;
    padding: 0.5rem !important;
    border-radius: 2px;
    font-family: "SF Mono", monospace !important;
    word-wrap: normal;
    /*color: #24292e;*/
    /*background-color: #F6F8FA;*/
    background: rgba(0, 0, 0, 0.05);
    border: none;
}

/*code snippet*/
#write code, tt {
    margin: 0 2px;
    border-radius: 2px;
    font-size: 0.9em;
    padding: 0 4px !important;
    font-family: "SF Mono", monospace  !important;
    color: var(--drake-highlight);
}

/* heighlight. 高亮*/
#write mark {
    background-color: #d1bd8e;
    color: #595959;
    border-radius: 2px;
    padding: 2px 2px;
    margin: 0 2px;
}

#write del {
    padding: 1px 2px;
}

/*.cm-s-inner .cm-link,*/
/*.cm-s-inner.cm-link {*/
/*	color: #22a2c9;*/
/*}*/

/*.cm-s-inner .cm-string {*/
/*	color: #22a2c9;*/
/*}*/

/** focus mode */
.on-focus-mode .md-end-block:not(.md-focus):not(.md-focus-container) * {
    color: #686868 !important;
}

.on-focus-mode .md-end-block:not(.md-focus) img,
.on-focus-mode .md-task-list-item:not(.md-focus-container)>input {
    opacity: #686868 !important;
}

.on-focus-mode li[cid]:not(.md-focus-container){
    color: #686868;
}

.on-focus-mode .md-fences.md-focus .CodeMirror-code>*:not(.CodeMirror-activeline) *,
.on-focus-mode .CodeMirror.cm-s-inner:not(.CodeMirror-focused) * {
    color: #686868 !important;
}

.on-focus-mode .md-focus,
.on-focus-mode .md-focus-container {
    color: #fff;
}

.on-focus-mode #typora-source .CodeMirror-code>*:not(.CodeMirror-activeline) * {
    color: #686868 !important;
}


.md-task-list-item > input {
    margin-left: -1.3em;
}

@media print {
    html {
        font-size: 13px;
    }

    table,
    pre {
        page-break-inside: avoid;
    }

    pre {
        word-wrap: break-word;
    }
}

#write pre.md-meta-block {
    padding: 1rem;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border: 0;
    border-radius: 2px;
    color: #777777;
    margin-top: 0 !important;
}

.mathjax-block > .code-tooltip {
    bottom: .375rem;
}

#write > h3.md-focus:before {
    left: -1.5625rem;
    top: .375rem;
}

#write > h4.md-focus:before {
    left: -1.5625rem;
    top: .285714286rem;
}

#write > h5.md-focus:before {
    left: -1.5625rem;
    top: .285714286rem;
}

#write > h6.md-focus:before {
    left: -1.5625rem;
    top: .285714286rem;
}

.md-image > .md-meta {
    border-radius: 2px;
    font-family: initial;
    padding: 2px 0 0 4px;
    color: inherit;
}

.md-tag {
    color: inherit;
}

.md-toc {
    margin-top: 20px;
    padding-bottom: 20px;
}

.sidebar-tabs {
    border-bottom: none;
}

#typora-quick-open {
    border: 1px solid #ddd;
    background-color: #f8f8f8;
}

.typora-quick-open-item {
    font-size: 1rem !important;
    height: 48px;
    padding-left: 8px;
    padding-top: 4px;
}

#md-notification:before {
    top: 10px;
}

/** focus mode */

.on-focus-mode blockquote {
    border-left-color: rgba(85, 85, 85, 0.12);
}

header,
.context-menu,
.megamenu-content,
footer {
    font-family: initial;
}

.file-node-content:hover .file-node-icon,
.file-node-content:hover .file-node-open-state {
    visibility: visible;
}

.mac-seamless-mode #typora-sidebar {
    background-color: #fafafa;
    font-size: 1rem;
    background-color: var(--side-bar-bg-color);
}

.md-lang {
    color: #b4654d;
}

.html-for-mac .context-menu {
    --item-hover-bg-color: #E6F0FE;
}


/*insert element*/

.ty-quick-open-category.ty-has-prev .ty-quick-open-category-title {
    border-top:none;
}

.file-list-item-summary {
    font-family: initial;
}

#typora-quick-open-input {
    margin: 8px;
    box-shadow:none;
    border-radius:2px;
}

#typora-quick-open-input input {
    font-size: 1rem;
    box-shadow:none;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 32px;
    max-height: 32px;
}

.modal-dialog#typora-quick-open{
    border-radius: 2px;
}

.ty-quick-open-category-title {
    padding-left: 8px;
    color: #BEBEBE;
}

.typora-quick-open-item-path {
    font-size: 10px;
    text-overflow:ellipsis;
    white-space:nowrap
}

.outline-item {
    font-size: 1rem;
}

.sidebar-tab {
    font-size: 1rem;
}

/*footnotes mark*/
#write .md-footnote {
    background-color: inherit;
    color: var(--drake-highlight);
    font-size: 0.9rem;
    border-radius: 0.9rem;
    padding-left: 0;
}

#write .md-footnote:before {
    content: "[";
}
#write .md-footnote:after {
    content: "]";
}

/*footnotes content*/
.md-hover-tip .code-tooltip-content {
    border-radius: 2px;
}

/*footnotes title*/
span.md-def-name {
    padding-right: 3ch;
    padding-left: 0;
    position:relative;
    font-weight: normal;
}

/*footnotes desc*/
.footnotes {
    font-size: 1rem;
    font-weight: normal;
    color: #304455;
    position:relative;
}

/*footnotes tooltip text*/
.code-tooltip-content .md-plain {
    font-size: 1rem;
    font-family: inherit;
}

.code-tooltip-content code {
    padding: 0 2px;
    font-family: inherit;
    color: #FFD760;
    background-color: inherit;
}

.code-tooltip-content a {
    color: #FFD760;
}

div.code-tooltip-content {
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.footnotes {
    opacity:1;
}

.md-def-name:after {
    content: ". ^";
    color: #304455;
}

.md-def-footnote .md-def-name:before {
    content: "";
    color: #304455;
    position:absolute;
}

.md-def-name:before {
    content: "";
    color: #304455;
    position:absolute;
}

.CodeMirror-scroll::-webkit-scrollbar {
    display: none;
}

.file-list-item-summary {
    font-size: 1em;
}

.pin-outline #outline-content .outline-active strong, .pin-outline .outline-active {
    font-weight: 500;
    color: var(--drake-highlight);
}

.file-list-item.active {
    border-left: 4px solid var(--drake-accent);
}

/* code render*/
/*.cm-s-inner span.cm-number { color: #4A86E8; }*/
/*.cm-s-inner span.cm-atom { color: #9E880D; }*/
/*.cm-s-inner span.cm-def { color: #a6a6fc; }*/
/*.cm-s-inner span.cm-variable { color: #806666; }*/
/*.cm-s-inner span.cm-variable-2 { color: #00627A; }*/
/*.cm-s-inner span.cm-variable-3, .cm-s-inner span.cm-type { color: #00c0ee; }*/
/*.cm-s-inner span.cm-property { color: #f87373; }*/
/*.cm-s-inner span.cm-keyword { color: #a400bc; }*/
/*.cm-s-inner span.cm-operator { color: #808080; }*/
/*.cm-s-inner span.cm-comment { color: #bfbfbf; }*/
/*.cm-s-inner span.cm-string { color: #00c400; }*/
/*.cm-s-inner span.cm-string-2 { color: #008000; }*/
/*.cm-s-inner span.cm-qualifier { color: #808080; }*/
/*.cm-s-inner span.cm-error { color: red; }*/
/*.cm-s-inner span.cm-attribute { color: #808080; }*/
/*.cm-s-inner span.cm-tag { color: #808080; }*/
/*.cm-s-inner span.cm-link { color: #4A86E8; }*/
/*.cm-s-inner span.cm-builtin { color: #808080; }*/
/*.cm-s-inner span.cm-bracket { color: #805959; }*/