@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css);

/* Main page with stikky-footer
-------------------------------------------------- */
html,
body {
  height: 100%;
  background-color: #fff;
  font-family: "Raleway",Helvetica,Georgia,Cambria,"Times New Roman",Times,serif;
  -webkit-font-smoothing: antialiased;
  /* The html and body elements cannot have any padding or margin. */
  border-top: 3px solid #27A822;
  /* color: #6b6b6b; */
}
/* Wrapper for page content to push down footer */
#wrap {
  padding-bottom: 50px;
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -65px;
  /* Pad bottom by footer height */
  /*padding: 0 0 60px;*/
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: initial;
}

/* About
--------------------------------------------------
#about {
  font-family: "Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
}

/* Navbar
--------------------------------------------------

.navbar {
  font-family: "Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  font-weight: bold;
}*/
.navbar-static-top {
  margin-bottom: 10px;
}
.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #6b6b6b;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #6b6b6b;
}
.navbar-default .navbar-text {
  color: #6b6b6b;
}
.navbar-default .navbar-nav > li > a {
  color: #6b6b6b;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #6b6b6b;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #6b6b6b;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #6b6b6b;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #6b6b6b;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #6b6b6b;
}
.navbar-default .navbar-link {
  color: #6b6b6b;
}
.navbar-default .navbar-link:hover {
  color: #6b6b6b;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #6b6b6b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #6b6b6b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #6b6b6b;
    background-color: #ffffff;
  }
}

/* Custom page CSS
-------------------------------------------------- */

.container {
  width: auto;
  max-width: 860px;
  text-align: center;
}
.container .text-muted {
  margin: 20px 0;
}
.container a {
  color: #27A822;
}
.container a:hover {
  color: #267723;
}
.img-responsive {
 display: block;
 height: auto;
 max-width: 100%;
}
.panel-default h4 {
  text-align: left;
  line-height: 24px;
  font-size: 22px;
}
.panel-default h5 {
  text-align: left;
  line-height: 30px;
  font-size: 20px;
}
.panel-default h6 {
  font-size: 18px;
}
.panel-default h4 a, .panel-default h5 a {
  color: #27A822;
  /*font-family: "Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;*/
}
.panel-default h4 a:hover, .panel-default h5 a:hover {
  color: #267723;
}
.panel{
  border-style: none;
}
.panel-body {
  padding-top: -10px;
  text-align: left;
}
.social {
  padding-top: 12px;
  word-spacing: 25px;
}
.social a {
  color: #000;
}
.avatar {
  padding-top: 5%;
}
p {
  margin: 0 0 1em;
}
.blog-post{
  padding-top: 15px;
  /*font-family: "Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;*/
  font-style: normal;
  letter-spacing: -0.018em;
}
.blog-title {
  padding-top: 2px;
}
.page-not-found {
  padding-top: 20%;
}
.disqus {
  padding-bottom: 15px;
}
.label.tag {
  text-transform: uppercase;
}
.blogpost {
  text-align: left;
  line-height: 1.62857143;
  font-size: 18px;
}
.blogpost h1, .blogpost h2, .blogpost h3, .blogpost h4, .blogpost h5, .blogpost h6, .blogpost .h1, .blogpost .h2, .blogpost .h3, .blogpost .h4, .blogpost .h5, .blogpost .h6 {
  font-family: "Open Sans",sans-serif;
  font-style: italic;
  letter-spacing: -0.018em;
  margin-top: 50px;
}
.blogpost a {
  cursor: pointer;
  color: #008d7c;
  text-decoration: underline;
}
.blogpost a:hover {
  color: #00c0aa;
  text-decoration: underline;
}
figcaption h6 {
  margin-top: 5px !important;
}
.related-posts h6 {
  text-align: center;
  /*font-family: Georgia,Cambria,"Times New Roman",Times,serif;*/
}
.related-posts h6 a {
  /*font-family: "Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;*/
}
.list h5{
  text-align: left;
  line-height: 0.4;
  font-size: 18px;
}
.list.level-up h3, .list.level-up h4, .list.level-up h5, .list.talks h3, .list.talks h4, .list.talks h5 {
  color: #27A822;
  margin-bottom: 20px;
}
.list.level-up ul, .list.talks ul {
  list-style: none;
  margin-top: 10px;
}
.list.level-up a, .list.level-up em, .list.talks a, .list.talks em {
  color: #6b6b6b;
  cursor: pointer;
}
.list.level-up em, .list.talks em {
  font-size: 14px;
}
.blogpost figure {
    margin: 1em 40px;
}
.blogpost pre {
  display: block;
  position: relative;
  padding: 0;
  border-radius: 0;
}
.blogpost pre > code[class^=hljs] {
  color: #000;
  background-color: #fdfdfd;
  font-family: 'Fira Code',Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
  font-size: 13px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.blogpost blockquote {
  color: #000;
  background-color: #fdfdfd;
  font-size: 16px;
  font-style: italic;
  -webkit-box-shadow: -1px 0 0 0 #358ccb,0 0 0 1px #dfdfdf;
  -moz-box-shadow: -1px 0 0 0 #358ccb,0 0 0 1px #dfdfdf;
  box-shadow: -1px 0 0 0 #358ccb,0 0 0 1px #dfdfdf;
  border-left: 5px solid #18a3b9;
  overflow: auto;
  max-height: 50rem;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
  margin-top: 20px;
  margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.hljs {
  font-family: 'Fira Code', inconsolata, monospace;
  font-size: 15px;
  background: inherit;
  padding: 0;
  white-space: pre;
}
.row-same-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.row-same-height > [class*='col-'] {
	display: flex;
	flex-direction: column;
  border-left: none;
}
.row-same-height > [class*='col-'] ~ [class*='col-'] {
  border-left: 1px solid #333;
}
#toc {
  /*font-family: "Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;*/
  font-style: normal;
  letter-spacing: -0.018em;
}
#TableOfContents > ul {
  list-style-type: none;
}
ul.task-list {
  list-style:none;
}
.fold {
  font-size: 14px;
}
.fold.title {
  margin-bottom: 15px;
  display: block;
}
.fold.content {
  padding-left: 15px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  margin-top: 10px;
  padding-top: 5px;
  border: 1px solid #eee;
  border-left: 5px solid #ccc;
  border-radius: 3px;
}
.fold.content-danger {
  border-left-color: #ce4844;
}
.fold.content-warning {
  border-left-color: #aa6708;
}
.fold.content-info {
  border-left-color: #1b809e;
}
.fold.content-primary {
  border-left-color: #337ab7;
}
.fold.content-success {
  border-left-color: #27a822;
}
.talk .fold :not(.content) {
  padding-bottom: 20px;
}
.scroll-to-top {
  display: none;
  position: fixed; bottom: 30px; right: 50px;
  width: 80px;
  font: 0.9em/1.2em Arial, Helvetica, sans-serif; color: #bbb; text-transform: uppercase; text-decoration: none;
  padding: 5px;
  background-color: #fdfdfd;
  border-radius: 0px;
  -webkit-box-shadow: 0 0 0 1px #dfdfdf;
  -moz-box-shadow: 0 0 0 1px #dfdfdf;
  box-shadow: 0 0 0 1px #dfdfdf;
  text-align:center;
}
.scroll-to-top a {
  color: #008d7c;
  text-decoration: none;
}
.scroll-to-top a:hover {
  color: #00c0aa;
  text-decoration: none;
}
.green-text {
  color: green;
}
.red-text {
  color: red;
}
.emoji {
  font-size: 20px;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
.twitter-tweet {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  margin-left: 150px !important;
}
@media (max-width: 767px) {
  .twitter-tweet {
    margin-left: 50px !important;
  }
}
@media (max-width: 567px) {
  .twitter-tweet {
    margin-left: 0px !important;
  }
}
.klipse-container {
  margin-bottom: 20px;
}

/* Footer
-------------------------------------------------- */

.footer {
  text-decoration: none !important;
}
div.footer{
  border-bottom: 5px solid #27A822;;
}
/* Set the fixed height of the footer here */
/*.footer {
  height: 50px;
  padding-bottom: 15px;

}*/
